@media(max-width:991px){
    .footerMainRow{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:800px){
    .yourtextinput{
        width: 80% !important;
    }
}